<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="static/img/test.png" rel="icon">-->
   <!-- <link href="static/img/test.png" rel="apple-touch-icon">-->
    <link rel="stylesheet" type="text/css" href="cal.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Campus Power App</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>

   
<div class="container" style=" border-radius: 0 0 150px 0; padding: 20px;">
 
  <div class="row">
   
   
  

  <br>
      <div class="container" >
        <div class="row" style="justify-content: space-around; margin-top: 5vh;">
         
          <div class="col-md-6">
            
                <div class="defaultCard" style=" border-radius: 10px;    
                border: none;
                padding: 30px;
                width: 100%;
                margin-top: 5vh;
                align-items: center;
                box-shadow: 0 2px 8px 0 rgba(209, 11, 47, 0.1), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05);
            ">
                  
                    <form >
                    
                       
                        <h4 style=" color: #f1464f; text-align:center;"><b></b></h4> <br>
                        
                        
                        <img src="static/img/oo.png" alt="" style="  width:100%;  align-items: center; margin:auto;"  >
                        <h2 class="heading" style="text-align: center; margin-top: 1vh; color: #f1464f; "><b>Campus PowerApp</b></h2>
                    <h6 style="text-align: center; width: 100%;">
                        <b>You need to login first.</b>
                    </h6>   
                    <div>
                        <input class="inputCard" style=" border-radius: 10px;    
                        border: none;
                        padding: 20px;
                        width: 100%;
                        margin-bottom: 5vh;
                        box-shadow: 0 2px 8px 0 rgba(209, 11, 47, 0.1), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05);
                    " type="" name="" value="" placeholder="Enter your email">
                     
                            </div>

                    <div>
                        <input class="inputCard" style=" border-radius: 10px;    
                        border: none;
                        padding: 20px;
                        width: 100%;
                        margin-bottom: 1vh;
                        box-shadow: 0 2px 8px 0 rgba(209, 11, 47, 0.1), 0 60px 80px 0 rgba(74, 58, 255, 0.02), 0 40px 50px 0 rgba(74, 58, 255, 0.05);
                    " type="" name="" value="" placeholder="Enter your password">
                     
                            </div>
  

                   <a href="main.html"> <button style=" background-color: #f1464f;
                    border: none;
                    color: white;
                    width:100%;
                    margin-top: 5vh;
                    border-radius:50px ;
                    padding: 12px 20px;
                    justify-content:space-around;
                   margin:auto;
                    box-shadow: 0 2px 8px 0 rgba(209, 11, 47, 0.1);
                    text-align: center;
                    font-weight: bold;
                    
                "><a href="/main" style="text-decoration:none; color:beige"> Submit</a></button></a>
                 
                   
                    </form>
    
    
                   
    
    
                </div>
                <h6 style="text-align: center; text-decoration: none; margin-top:20px;">
                  Create an account? <a href="/sigin" style="text-align: center;  color:#f1464f; text-decoration: none;"><b>SignUp</b></a>
               </h6>
            </div>
  
  
  
            
        </div>

    










  


  
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>




<!



